include *.py
include README.md
include LICENSE
include share/*.glade
include share/*.py
recursive-include share/icons/*
recursive-include share/locale/*
recursive-include share/doc/*
recursive-include share/when-command/*
